<section class="flex flex-col justify-center items-center py-5">
  <a href="index.html"
    ><img src="./logo-white.png" alt="Logo-icon" class="w-28" /></a
  >

  <div class="p-3">
    <a href="https://github.com/PieroBryanBL" target="_blank">
      <i class="fa-brands fa-github text-white text-lg"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/piero-bryan-benigno-leyva-604775244/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin text-white text-lg"></i>
    </a>
  </div>
  <p class="text-center text-white px-5">
    @2023 Piero Bryan BL - All rights are reserved
  </p>
</section>
