<section
  class="flex flex-col md:flex-row gap-10 text-center h-full py-10 pb-16 justify-center items-center text-white md:w-11/12 md:mx-auto lg:w-7/12 lg:mx-auto"
  id="me"
>
  <div class="w-64 md:w-7/12 lg:w-5/12 mx-auto">
    <img
      src="./hero-profile.webp"
      alt="Photo Portrait"
      class="w-full shadow-2xl border border-blue-900 duration-200 hover:scale-95"
    />
  </div>
  <div class="flex flex-col gap-10 md:text-left lg:w-full lg:mx-auto">
    <div class="flex flex-col gap-6">
      <h3 class="font-bold text-lg italic">Hello</h3>
      <h1 class="font-normal text-3xl italic">I'm Danis Haust</h1>
      <p class="w-11/12 mx-auto md:w-full text-gray-400">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quae
        officiis doloremque saepe commodi dolores.
      </p>
    </div>
    <div class="flex justify-center items-center md:justify-start gap-5">
      <a
        class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none flex justify-center items-center text-white"
        >Download CV</a
      >
      <a
        class="btn bg-[#276bff] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center"
        href="#skills">See more</a
      >
    </div>
  </div>
</section>
