---
interface Props {
  pageTitle?: string;
  pageDescription?: string;
  styles?: string;
}

const { pageTitle, pageDescription, styles } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./logo-black.png" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body style={styles}>
    <slot />

    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        background-color: #ffffff;
        font-family: "Poppins", sans-serif;
      }
      body::-webkit-scrollbar {
        background-color: #020209;
        width: 8px;
      }
      body::-webkit-scrollbar-thumb {
        background-color: #191341;
      }
    </style>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/cf9185ac1b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
