<section
  class="w-11/12 mx-auto h-32 bg-gradient-to-tr from-[#04004f] to-black flex justify-center items-center text-center rounded-md"
>
  <h2 class="font-bold text-white text-xl">
    My works are made with the maximum effort of my part
  </h2>
</section>
