<section class="bg-white" id="projects">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl"
    >
      Proyects
    </h1>

    <p class="mt-4 text-center text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minus ipsam
      voluptatum. Tenetur natus quis saepe a aspernatur nihil! Accusantium.
    </p>

    <div
      class="grid grid-cols-1 gap-y-14 md:gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3 md:p-11"
    >
      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="card bg-white text-black shadow-xl">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1669723009504-26cba3bd235c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
            alt="Photo Project"
            class="h-52 w-full object-cover"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">
            Title Project
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p class="text-gray-600 text-sm">
            If a dog chews shoes whose shoes does he choose?
          </p>
          <div class="flex gap-5 justify-center items-center w-full my-5">
            <button
              class="btn bg-[#021c52] hover:bg-[#03002b] rounded-full border-none text-white flex justify-center items-center italic w-11/12"
              >See live</button
            >
            <a href="#" class="w-1/12">
              <i class="fa-brands fa-github text-2xl"></i>
            </a>
          </div>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">HTML</div>
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
